<div id="container">
        <div id="theTarget">
            <div style="background-image: url(images/test1.jpg)"></div>
            <div style="background-image: url(images/test2.jpg)"></div>
            <div style="background-image: url(images/test3.jpg)"></div>
            <div style="background-image: url(images/test4.jpg)"></div>
            <div style="background-image: url(images/test5.jpg)"></div>
        </div>
</div>
